#body {
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(184, 119, 173)
}

.column {
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(165, 186, 245);
  display: block;
  margin: auto;
  width: 33%;
  box-sizing: border-box;
  float: left;
}

.column1 {
  margin: auto;
  width: 60%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column3 {
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(165, 186, 245);
  display: block;
  margin: auto;
  width: 33%;
  box-sizing: border-box;
}

.column3 h3 {
  text-align: center;
}